import axios from 'axios';
import { navigate } from 'marko-router5';

class {

  //Post request for Creating Note
  handleSubmit(data) {

   axios.post('/api/notes',data)
    .then(data => {
      if(data.data.message === "Success") {
        navigate(`/`);
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });

  }

}

<div.container>
  <Header />
  <div.appInner>
    <h1>Add Note</h1>
    <Form on-set-submit("handleSubmit") />
  </div>
</div>
