<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <title>${input.title}</title>
  </head>
  <body>
    <context notes=input.notes>
      <div#app></div>
    </context>
    <if( process.env.NODE_ENV === 'production' )><script src=input.Assets.client.js[0] defer crossorigin></script></if>
    <else>
      <for|src| of=input.Assets.client.js>
        <script src=src defer></script>
      </for>
    </else>
  </body>
</html>
