<div#contextMenu>
  <ul>
    <li.contextItem>copy link</li>
    <li.contextItem>past</li>
    <li.contextItem>save as...</li>
      <hr>
    <li.contextItem>send</li>
    <li.contextItem.share>
      share
      <ul.shareMenu>
        <li.contextItem>facebook</li>
        <li.contextItem>twitter</li>
        <li.contextItem>instagram</li>
      </ul>
    </li>
  </ul>
</div>