<nav#Header>
  <route-link href="/" class="logo">Notely</route-link>
  <ul>
    <li><route-link href="/">Notes</route-link></li>
    <li><route-link href="/create" class="create-note">Create note +</route-link></li>
  </ul>
</nav>

